{% extends "keybase_proofs/_base.html" %}

{% block title %}Keybase proofs{% endblock %}

{% block content %}

{% if not object_list|length %}
<p>
  Nothing to see here, try
  <a href="{% url 'keybase_proofs:new-proof' %}?kb_username=t_alice&sig_hash=8514ae2f9083a3c867318437845855f702a4154d1671a19cf274fb2e6b7dec7c0f"> posting a proof </a>
</p>
{% else %}
  <table>
    <tr>
      <th>Keybase Username</th>
      <th>Sig Hash</th>
    </tr>
    {% for proof in object_list %}
      {% if proof.is_verified %}
        <tr>
          <td><a href="https://keybase.io/{{ proof.kb_username }}/sigs/{{ proof.sig_hash }}">
              {{ proof.kb_username }}
              <img alt="Keybase proof status" src="https://keybase.io/{{ proof.kb_username }}/proof_badge/{{ proof.sig_hash }}?&domain={{ domain }}&username={{ user.username }}">
            </a></td>
          <td>{{ proof.sig_hash }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endif %}

{% endblock %}


{% comment %}
Sample page for displaying existing keybase proofs on a user's profile. Only
verified proofs are shown.
{% endcomment %}
